
*{
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;;
  box-sizing: border-box;
}

body {
  font-family: "Lato",sans-serif;
  background: url(https://jkopp1717.github.io/Kalkulator-Domeny-Statku/Styles/images/cement.jpg) no-repeat center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

ul{
  display:block;
  position:sticky;
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
  background-color: #333;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

li {
  background: url(images/background-texture-grunge-rust.jpg) no-repeat center;
  background-size: 100% 100%;
  float: left;
  border-right: 1px solid #000000;
}

li a {
  font-family: "Lato",sans-serif;
  display: block;
  color:white;
  text-align:center;
  padding: 14px 16px;            
  text-decoration:none; 
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none; 
}
li :hover {
  background-color: #000000;
}
li a:active {
  background-color: rgb(29, 124, 208);
  color: white;
}
li a:hover:not(.active){
  background-color: #000000;
  color: rgb(255, 255, 255);
}

.paragraf {
  text-align: left;
  
}

.container {
  
  color: azure;
  max-width: 600px;
  margin-top: 4%;
  margin-left: 20%;
  
}
.container h1{
  font-family: 'poppins', sans-serif;
  font-size: 70px;
  font-weight: 400;

}

.container a {
  text-decoration: none;
  position: absolute;
  display: inline-block;
  background-color: rgb(255, 201, 65);
  color: black;
  font-size: 18px;
  padding: 16px 40px;
  margin-top: 30px;
  margin-left: 80px;
  border:#000000;
  cursor: pointer;
  border-radius: 30px;
  text-align: center;
  transition-duration: 0.4s;
}

.container a:hover {
  background-color: rgb(132, 200, 73);
  color: rgb(0, 0, 0);
  border: #000000;
}
.container p{
  font-family: "Lato",sans-serif;
  margin-top: 2%;
  font-size: 18px;
}

footer{
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   padding: 4px;
   background-color: rgba(35, 22, 120, 0.366);
   color: white;
   text-align: center;

}
.calculator-container {
  position: absolute;
  top: 20%;
  left: 16%;
  width: 200px;
}

.calculator {
  width: 200%;
  transform: rotate(5deg);
}
.calculator:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}




