
* {
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
}
  
  .container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 30px;

  }
  .gallery img{
    border: #000000;
    width: 100%;
    height: 100%;
  }
  h2 {
    color: aliceblue;
  }

  body {
    font-family: "Lato",sans-serif;
    background: url(https://jkopp1717.github.io/Kalkulator-Domeny-Statku/Styles/images/cement.jpg) no-repeat center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }






ul{
  display:block;
  position:sticky;
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
  background-color: #333;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}
li {
  background: url(images/background-texture-grunge-rust.jpg) no-repeat center;
  background-size: 100% 100%;
  float: left;
  border-right: 1px solid #000000;
}

li a {
  display: block;
  color:white;
  text-align:center;
  padding: 14px 16px;            
  text-decoration:none; 
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none; 
}
li :hover {
  background-color: #000000;
}
li a:active {
  background-color: rgb(29, 124, 208);
  color: white;
}
li a:hover:not(.active){
  background-color: #000000;
  color: rgb(255, 255, 255);
}






.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("images/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}
